.articleContainer .btnArea {
  font-size: 2rem;
  letter-spacing: 0.062em;
  padding-left: 0.2rem;
}
@media screen and (max-width: 767px) {
  .articleContainer .btnArea {
    font-size: 3.4620505992vw;
    letter-spacing: 0.015em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0.6657789614vw;
  }
}

.articleContainer .btnArea div a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SN240419holiday {
  padding-bottom: 15rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday {
    padding-bottom: 19.9733688415vw;
    padding-top: 3.5952063915vw;
  }
}
.SN240419holiday img {
  width: 100%;
  display: block;
}
.SN240419holiday .only-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .only-mobile {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .SN240419holiday .only-desktop {
    display: none;
  }
}
.SN240419holiday a {
  text-decoration: none;
}

.SN240419holiday .js-fadeIn {
  opacity: 0;
  -webkit-transition: ease-in, opacity 2500ms;
  transition: ease-in, opacity 2500ms;
}
.SN240419holiday .js-fadeIn.isActive {
  opacity: 1;
}

.SN240419holiday .c-season_text {
  position: absolute;
  right: calc(50% - 50vw + 2.85rem);
  font-family: "the-seasons", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.15em;
  text-orientation: mixed;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .c-season_text {
    font-size: 2.396804261vw;
    right: calc(50% - 50vw + 4.1278295606vw);
  }
}

.SN240419holiday .c-contents {
  position: relative;
}

.SN240419holiday .c-inner {
  width: 100%;
  max-width: calc(1120px + 5rem);
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .c-inner {
    padding-right: 5.3262316911vw;
    padding-left: 5.3262316911vw;
  }
}

.c-comodity_text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.025em;
  font-family: "neue-haas-grotesk-display", sans-serif;
}
@media screen and (max-width: 767px) {
  .c-comodity_text {
    font-size: 2.6631158455vw;
    line-height: 2;
  }
}

.c-comodity_text a {
  text-decoration: underline;
  display: inline;
}

.SN240419holiday .swiper-slide {
  max-width: 40rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .swiper-slide {
    max-width: 75.8988015979vw;
  }
}
.SN240419holiday .first-swiper .swiper-slide {
  padding: 0rem 0.5rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first-swiper .swiper-slide {
    padding-left: 0;
    padding-right: 2.6631158455vw;
  }
}
.SN240419holiday .second-swiper .swiper-slide {
  padding-right: 1rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second-swiper .swiper-slide {
    padding-right: 2.6631158455vw;
  }
}

.c-blanck {
  display: inline-block;
  padding: 0 0.42rem;
}
@media screen and (max-width: 767px) {
  .c-blanck {
    padding: 0 1.0119840213vw;
  }
}

.c-hover {
  position: relative;
}

.c-hover__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.c-hover:hover .c-hover__img {
  opacity: 1;
}

.SN240419holiday .mv__inner {
  max-width: 49.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .mv__inner {
    max-width: 100%;
  }
}
.SN240419holiday .mv__season_text {
  top: calc(50% + 0.1rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .SN240419holiday .mv__season_text {
    display: none;
  }
}

.SN240419holiday .first {
  margin-top: 8rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first {
    margin-top: 19.9733688415vw;
  }
}
.SN240419holiday .first__top-images {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__top-images {
    max-width: 73.3688415446vw;
    padding-right: 0.1331557923vw;
  }
}
.SN240419holiday .first__top-text {
  margin-top: 2.4rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__top-text {
    margin-top: 5.3262316911vw;
  }
}
.SN240419holiday .first__swiper-contents {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19.4rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__swiper-contents {
    margin-top: 31.6910785619vw;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
.SN240419holiday .first__top-swiper_text {
  margin-top: 2.5rem;
  line-height: 1.75;
  max-width: 39rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__top-swiper_text {
    margin-top: 5.3262316911vw;
    padding-left: 5.3262316911vw;
    padding-right: 5.3262316911vw;
    max-width: 100%;
    line-height: 2;
  }
}
.SN240419holiday .first__top-season_text {
  top: 47.2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__top-season_text {
    top: 19.08%;
  }
}
.SN240419holiday .first__bottom-contents {
  margin-top: 19.9rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__bottom-contents {
    margin-top: 31.6910785619vw;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
.SN240419holiday .first__bottom-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__bottom-flex {
    display: block;
  }
}
.SN240419holiday .first__bottom_left {
  max-width: 34rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__bottom_left {
    max-width: 75.8988015979vw;
    margin-right: auto;
  }
}
.SN240419holiday .first__bottom_right {
  max-width: 42rem;
  width: 100%;
  padding-top: 24rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__bottom_right {
    padding-top: 0;
    max-width: 86.6844207723vw;
    margin-top: 2.5299600533vw;
    margin-left: auto;
  }
}
.SN240419holiday .first__bottom_right-text {
  margin-top: 2.5rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__bottom_right-text {
    margin-top: 5.3262316911vw;
  }
}
.SN240419holiday .first__bottom-season_text {
  top: 25.3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .SN240419holiday .first__bottom-season_text {
    top: 22.9%;
  }
}

.SN240419holiday .second {
  margin-top: 19.3rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second {
    margin-top: 31.4247669774vw;
  }
}
.SN240419holiday .second__top-contents {
  padding-left: 5.7rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__top-contents {
    padding-left: 0;
  }
}
.SN240419holiday .second__top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
  gap: 10rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__top-flex {
    gap: 19.9733688415vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.SN240419holiday .second__top-left {
  max-width: 30rem;
  width: 100%;
  padding-top: 26rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__top-left {
    padding-top: 0;
    max-width: 73.3688415446vw;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0.1331557923vw;
  }
}
.SN240419holiday .second__top_left-image-2 {
  margin-top: 1rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__top_left-image-2 {
    margin-top: 2.6045272969vw;
  }
}
.SN240419holiday .second__top_left-text {
  margin-top: 2.4rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__top_left-text {
    margin-top: 5.3262316911vw;
  }
}
.SN240419holiday .second__top-right {
  max-width: 42rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__top-right {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
.SN240419holiday .second__top-season_text {
  top: 23.9%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__top-season_text {
    top: 54.4%;
  }
}
.SN240419holiday .second__middle-contents {
  margin-top: 19.4rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__middle-contents {
    margin-top: 31.6777629827vw;
    max-width: 84.0213049268vw;
    padding-right: 0.1331557923vw;
  }
}
.SN240419holiday .second__middle-text {
  margin-top: 2.4rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__middle-text {
    margin-top: 5.3262316911vw;
  }
}
.SN240419holiday .second__middle-season_text {
  top: -3.8%;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__middle-season_text {
    top: 42.9%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.SN240419holiday .second__bottom-contents {
  margin-top: 19.4rem;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__bottom-contents {
    margin-top: 31.6910785619vw;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
.SN240419holiday .second__bottom-text {
  margin-top: 2.4rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__bottom-text {
    padding-left: 5.3262316911vw;
    padding-right: 5.3262316911vw;
    margin-top: 5.3262316911vw;
  }
}
.SN240419holiday .second__bottom-season_text {
  top: 36.9%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .SN240419holiday .second__bottom-season_text {
    top: 40%;
  }
}

.SN240419holiday .third {
  margin-top: 19.4rem;
  padding-bottom: 14.4rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third {
    padding-bottom: 14.3142476698vw;
    margin-top: 31.7043941411vw;
  }
}
.SN240419holiday .third__top-image {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__top-image {
    max-width: 80.0266311585vw;
    padding-right: 0.1331557923vw;
  }
}
.SN240419holiday .third__top-swiper {
  margin-top: 8rem;
  max-width: 59.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__top-swiper {
    margin-top: 20.0266311585vw;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
.SN240419holiday .third__top-text {
  margin-top: 2.4rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__top-text {
    margin-top: 5.3262316911vw;
    padding: 0 5.3262316911vw;
  }
}
.SN240419holiday .third__top-season_text {
  top: 33.15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__top-season_text {
    top: 22.62%;
  }
}
.SN240419holiday .third__middle-contents {
  margin-top: 19.4rem;
  max-width: 81rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__middle-contents {
    margin-top: 31.6910785619vw;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
.SN240419holiday .third__middle-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__middle-flex {
    display: block;
  }
}
.SN240419holiday .third__middle-left {
  max-width: 34rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__middle-left {
    max-width: 70.6924101198vw;
    margin-right: auto;
    padding-right: 0.1331557923vw;
  }
}
.SN240419holiday .third__middle-right {
  max-width: 45rem;
  width: 100%;
  padding-top: 20rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__middle-right {
    max-width: 86.6577896138vw;
    margin-left: auto;
    padding-top: 0;
    margin-top: 2.6631158455vw;
  }
}
.SN240419holiday .third__middle_right-text {
  margin-top: 2.4rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__middle_right-text {
    margin-top: 5.3262316911vw;
  }
}
.SN240419holiday .third__middle-season_text {
  top: 2.2%;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__middle-season_text {
    top: 20.9%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.SN240419holiday .third__bottom-contents {
  margin-top: 19.4rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__bottom-contents {
    margin-top: 31.3315579228vw;
  }
}
.SN240419holiday .third__bottom-image {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__bottom-image {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
.SN240419holiday .third__bottom-container {
  max-width: 71rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__bottom-container {
    margin-top: 19.9733688415vw;
    max-width: 73.3688415446vw;
    padding-left: 0.1331557923vw;
  }
}
.SN240419holiday .third__bottom-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__bottom-flex {
    gap: 2.7962716378vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.SN240419holiday .third__bottom-left,
.SN240419holiday .third__bottom-right {
  max-width: 35rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__bottom-left,
  .SN240419holiday .third__bottom-right {
    max-width: 100%;
  }
}
.SN240419holiday .third__bottom-text {
  margin-top: 2.4rem;
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__bottom-text {
    margin-top: 5.3262316911vw;
  }
}
.SN240419holiday .third__bottom-season_text {
  top: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .SN240419holiday .third__bottom-season_text {
    top: 55.06%;
  }
}