@use "../global" as *;

.c-hover {
  position: relative;
}
.c-hover__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .3s ease;
}
.c-hover:hover .c-hover__img {
  opacity: 1;
}