@use "../global" as *;

.SN240419holiday {
  .mv__inner {
    max-width:rem(495);
    margin-left: auto;
    margin-right: auto;
  }
  .mv__season_text {
    top: calc(50% + rem(1));
    transform: translateY(-50%);
  }
}