@use "../global" as *;

.SN240419holiday {
  .second {
    margin-top: rem(193);
    @include mq(md) {
      margin-top: vw(236);
    }
  }
  .second__top-contents {
    padding-left: rem(57);
    @include mq(md) {
      padding-left: 0;
    }
  }
  .second__top-flex {
    display: flex;
    justify-content: center;
    max-width:rem(820);
    margin-left: auto;
    margin-right: auto;
    gap: rem(100);
    @include mq(md) {
      gap: vw(150);
      flex-direction: column-reverse;
    }
  }
  .second__top-left {
    max-width:rem(300);
    width: 100%;
    padding-top: rem(260);
    @include mq(md) {
      padding-top: 0;
      max-width: vw(551);
      margin-left: auto;
      margin-right: auto;
      padding-right: vw(1);
    }
  }
  .second__top_left-image-2 {
    margin-top: rem(10);
    @include mq(md) {
      margin-top: vw(19.56);
    }
  }
  .second__top_left-text {
    margin-top: rem(24);
    @include mq(md) {
      margin-top: vw(40);
    }
  }
  .second__top-right {
    max-width:rem(420);
    width: 100%;
    @include mq(md) {
      width: 100vw;
      max-width: 100vw;
      margin-left: calc(50% - 50vw);
    }
  }
  .second__top-season_text {
    top: 23.9%;
    transform: translateY(-50%);
    @include mq(md) {
      top: 54.4%;
    }
  }
  .second__middle-contents {
    margin-top: rem(194);
    max-width:rem(420);
    margin-left: auto;
    margin-right: auto;
    @include mq(md) {
      margin-top: vw(237.9);
      max-width: vw(631);
      padding-right: vw(1);
    }
  }
  .second__middle-text {
    margin-top: rem(24);
    @include mq(md) {
      margin-top: vw(40);
    }
  }
  .second__middle-season_text {
    top: -3.8%;
    @include mq(md) {
      top: 42.9%;
      transform: translateY(-50%);
    }
  }
  .second__bottom-contents {
    margin-top: rem(194);
    max-width:rem(520);
    margin-left: auto;
    margin-right: auto;
    @include mq(md) {
      margin-top: vw(238);
      width: 100vw;
      max-width: 100vw;
      margin-left: calc(50% - 50vw);
    }
  }
  .second__bottom-text {
    margin-top: rem(24);
    @include mq(md) {
      padding-left: $padding-sp;
      padding-right: $padding-sp;
      margin-top: vw(40);
    }
  }
  .second__bottom-season_text {
    top:36.9%;
    transform: translateY(-50%);
    @include mq(md) {
      top: 40%;
    }
  }
}
