@use "../global" as * ;

.SN240419holiday {
    padding-bottom: rem(150);
    @include mq(md) {
        padding-bottom: vw(150);
    }
    img {
        width: 100%;
        display: block;
    }
    .only-mobile {
        display: none;
        @include mq(md) {
            display: block;
        }
    }
    .only-descktop {
        @include mq(md) {
            display: none;
        }
    }
    a {
        text-decoration: none;
    }
}